
@model IdentityRole


<div class="form-group">
    <label class="col-form-lable" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

</div>
