@model ApplicationUser

@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure To Delete This Role </h1>
<form asp-action="Delete">
    <input hidden asp-for="Id"/>

    <partial name="PartialViews/DetailsDeletePartialView" />

    <input type="submit" value="Delete" class="btn btn-danger"/>
    <a asp-action="Index" class="bnt btn-light">Cancle</a>
</form>

