 
@{
    ViewData["Title"] = "CheckYourEmail";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Check Your Email</h1>

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <div>
                Password Reset Link has Been Sent To your Email . Please check your inbox :)
            </div>
            <div>
                <a herf="https://mail.google.com/mail/u/0/#inbox">Your Inbox</a>
            </div>
        </div>
    </div>
</div>