
@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ForgetPassword</h1>

<div class="main-agileinfo">
	<div class="agileits-top">
		<form method="post" asp-action="SendEmail">
			<div asp-validation-summary="All" class="text-danger"></div>
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input type="submit" value="Send ResetPassword Link To Your Email ">
		</form>
	</div>
</div>

